@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 78, 113, 1;
  --background-start-rgb: 244, 249, 255, 1;
  --background-end-rgb: 224, 237, 251, 1;
}

body {
  font-family: "Inter";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.form {
  height: 100vh;
  background-image: url('./images/bg_stars.svg');
  background-repeat: no-repeat;
  background-size: 100% 628px;
  background-position: -2px -38px;
}

.signUpBtn {
  background: linear-gradient(to right, #70C3FF,#4B65FF);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
